.pointer {
    cursor: pointer;
}

.layout {
    min-height: 100vh;
    overflow: auto;
}

.page-container {
    position: relative;
    padding: 20px;
    background-color: #f0f2f5;
}

.ant-layout,
.ant-layout-footer {
    background-color: #dfe4ea;
}

.ant-layout-footer {
    text-align: center;
}

.ant-form-item {
    padding: 1em;
}
